<html>
	<head>
		<style media="only screen and (max-width: 599px)" type="text/css">
			@media only screen and (max-width:599px) {
      	.main { width: 95% !important; }
      }
		</style>
	</head>
	<body style="margin: 0;">
		<div style="width: 100%; text-align: center; min-height: 100vh; background-color: #e6e6e6; padding: 50px 0;">
			<div style="padding-bottom: 20px;">
				<img style="height: 50px;" src="http://www.sclance.com/pngs/us-png/us_png_1447293.png" alt="logo">
			</div>
			<div class="main" style="margin: 0 auto; width: 80%; background-color: #C0392B; box-shadow:0 0 15px #a3a3a3; border-top: 7px solid #C0392B;">
				<div style="padding: 30px 20px 0 20px; background-color: #ffffff;">
					<p style="padding-bottom:20px;">
						<img class="cartoon" style="width: 250px;" src="http://www.campgroundautomation.com/wp-content/themes/startup1.2.2/templates/startup-framework/build-wp/common-files/icons/rocket-big-grey-bg@2x.png" alt="">
					</p>
					<b style="font-size: 24px; color: #161616;">Hi {{username}}</b>
					<p style="line-height: 22px; padding: 10px 0 20px 0; color: #161616;">Your email has been registered to <b>SuAPP</b>. Please click <b>"CONFIRM"</b> button bellow to complete the registration. If it's doesn't work, please copy link bellow the button and paste it to your browser.</p>
					<p><a href="{{link}}" target="_blank" style="background-color: #db3a28; padding: 10px 20px; color: #ffffff; text-decoration: none;">
						<b>CONFIRM</b>
					</a></p>
					<div style="word-wrap: break-word; font-size: 15px; padding: 20px 0 10px 0; line-height: 19px; "><i><a style="color:#C0392B; pointer-events: none; cursor: default; text-decoration: none;">{{link}}</a></i></div>
				</div>
				<div style="height: 150px; width: 100%; border-bottom-left-radius:50%; border-bottom-right-radius:50%; background-color: grey;">
					<div style="height: 140px; width: 100%; border-bottom-left-radius:50%; border-bottom-right-radius:50%; background-color: white;">
						<div style="line-height: 20px; font-size: 14px; padding: 40px 20px; color: #161616;"><b>PS: If you're not registered your email to this apps, feel free to ignore this email</b></div>
					</div>
				</div>
				<div style="padding: 30px 0; color: #ffffff;">
					<p><b>PT SuAPP Technonogy</b></p>
					<p style="line-height: 22px; font-size: 15px; padding: 15px">Jl. Kapten Piere Tendean 31,Ngablak, Pabelan, Surakarta
						<br>(0271) 456-12345
						<br><a style="pointer-events: none; cursor: default; text-decoration: none; color: #ffffff;">customer.support@suapp.id</a></span>
					</p>
					<div style="margin-top: 20px;">
						<img width="35px;" src="https://qui-ma-appele.com/images/svg/linkedin.svg" alt="">
						<img width="35px;" src="https://qui-ma-appele.com/images/svg/facebook.svg" alt="">
						<img width="35px;" src="https://qui-ma-appele.com/images/svg/google-plus.svg" alt="">
						<img width="35px;" src="https://qui-ma-appele.com/images/svg/twitter.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>